<h2>
	<span>SPLURTY / <%= @quote.unique_tag %></span>
	Here is what the most divas would say...
</h2>

	<h1><%= @quote.saying %></h1>
	<h2 class="pull-right">- <%= @quote.author %></h2>

	<br class="clear" />
	<br />
	<br />
	<br />